# Ignore (most) input/output files in the root directory
input/
output/

# Random GROMACS files
*.lock
*.npz
*.gro
*.trr

# Ignore compiled files
*.o
*.out
*.so

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore hidden files and folders
*egg-info/
.DS_Store
*.swp
