# Ignore (most) input/output files in the root directory
input/
output/
out_files/

# Random GROMACS files
*.lock
*.npz
*.gro
*.trr

# Ignore compiled files
*.o
*.out
*.so

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore hidden files and folders
build/
*egg-info/
.DS_Store
*.swp

# Ignore LAMMPS output files
lammps/ucg/*
!lammps/ucg/*.in
!lammps/ucg/*.dat
